body {
  font-family: sans-serif;
  margin: 0;
}

.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 250px;
  border-left: 1px solid #ccc;
  padding: 1rem;
}

.disconnect-banner {
  background-color: #f00;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.react-flow {
  flex-grow: 1;
}

.log-panel {
  height: 200px;
  border-top: 1px solid #ccc;
  overflow-y: auto;
}
